<section class="mnemonic-content mnemonic-content--new">
<p>They <span class="radical-highlight" rel="tooltip" title="Radical">say</span> a <span class="radical-highlight" rel="tooltip" title="Radical">shrimp</span> who is bad with <span class="kanji-highlight" rel="tooltip" title="Kanji">translation</span> has no <span class="kanji-highlight" rel="tooltip" title="Kanji">reason</span> to live. Most shrimp make a living with their translation skills. They are the translators of the ocean. If they don’t know how to say something in all the languages of the sea, they have no reason to live. They might as well be dead.</p>
<aside class="additional-info">
<h3><i class="icon-question-sign"></i> Hints</h3>
<p>Imagine this one shrimp who is bad at translation. He’s trying to find a reason to live, but he’s having trouble. Look at him all alone, being shunned by the other shrimp.</p>
</aside>
</section>

